[{{ openscan_samba_share_name }}]
   path = {{ openscan_share_root }}
   browseable = yes
   read only = no
{% if openscan_samba_guest_access %}
   guest ok = yes
   guest only = yes
{% else %}
   guest ok = no
   valid users = {{ openscan_samba_username }}
{% endif %}
   force user = {{ openscan_samba_force_user }}
   create mask = 0664
   directory mask = 0775
