camera_id: "{{ camera_id }}"
{% if openscan_camera_transform %}
camera_transform:
{% for key, value in openscan_camera_transform.items() %}
  {{ key }}: {{ value | bool | lower }}
{% endfor %}
{% endif %}
{% if openscan_camera_node_profile_overrides %}
profile_overrides:
{{ openscan_camera_node_profile_overrides | to_nice_yaml(indent=2, sort_keys=False) | indent(2, true) }}
{% endif %}
